### Chapter 8 - Lists

# Table of Contents

8.1 Lists

- 1. What is Not a "Collection"?
- 2. A List is as Kind of Collection **[ ] = list**
- 3. Lists and Definite Loops
- 4. Looking Inside Lists **x[ ]**
- 5. Lists Are Mutable
- 6. How Long is a List? **len()**, **range()**

8.2 Manipulating Lists

- 1. Concatenating Lists Using **+**
- 2. Lists can be Sliced Using **:**
- 3. List Methods **list(), x.append(), x.remove()**
- 4. Is Something in a List? **in, not in**
- 5. Lists are in Order **x.sort()**
- 6. Built-in Functions and Lists **max(), min(), sum()**

8.3 Lists and Strings

- 1. Best Friends: Strings and Lists **x.split()**
- 2. Double Split Pattern

Quiz 8

Assignment 8

# 8.1 Lists

## 1. What is Not a "Collection"?

- Most of **variables** have one value in them
- When we put a new value in the **variabl**, the old value is overwritten

In [1]:
x = 2
x = 4

print(x)

4

## 2. A List is a Kind of Collection

### [ ] = List

- A **collection** allows us to put many values in a single **variable**
- A **collection** is nice because we can carry **many values** around in one convenient package

In [2]:
friends = ["Joseph", "Glenn", "Sally"]

carryon = ["socks", "shirt", "perfume"]

- A **list** element can be any Python object - even **another list**
- A **list** can be empty

In [3]:
print([1, 24, 76])
print(["red", "yellow", "blue"])
print(["red", 24, 98.6])
print([1, [5, 6], 7])
print([])

[1, 24, 76]
['red', 'yellow', 'blue']
['red', 24, 98.6]
[1, [5, 6], 7]
[]

### We Already Use Lists!

In [4]:
for i in [5, 4, 3, 2, 1]:
    print(i)

print("Blastoff!")

5
4
3
2
1
Blastoff!

## 3. Lists and Definite Loops

In [5]:
friends = ["Joseph", "Gelnn", "Sally"]

for friend in friends:
    print("Happy New Year:", friend)
    
print("Done!")

Happy New Year: Joseph
Happy New Year: Gelnn
Happy New Year: Sally
Done!

In [6]:
z = ["Joseph", "Glenn", "Sally"]

for x in z:
    print("Happy New Year:", x)
    
print("Done!")

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

## 4. Looking Inside Lists

### list[ ]

In [7]:
friends = ["Joseph", "Glenn", "Sally"]

print(friends[1])

Glenn

## 5. Lists Are Mutable

- Strings are **"immutable"**  
  - We cannot change the contents of a string  
  - We must make a **new string** to make any change
- Lists are **"muttable"**
  - we can **change** an element of a list using the **index** operator

In [8]:
fruit = "Banana"
fruit[0] = "b"

TypeError: 'str' object does not support item assignment

In [9]:
x = fruit.lower()
print(x)

banana

In [10]:
lotto = [2, 14, 26, 41, 63]
print(lotto)

[2, 14, 26, 41, 63]

In [11]:
lotto[2] = 28
print(lotto)

[2, 14, 28, 41, 63]

## 6. How Long is a List?

### len( )

- tells us the number of elements of any set or sequence

In [12]:
greet = "Hello Bob"
print(len(greet))

9

In [13]:
x = [1, 2, "joe", 99]
print(len(x))

4

### range( )

- returns **a list** of numbers
- that range from zero to one less than the **parameter**

In [14]:
x = range(4)

print(x)

range(0, 4)

In [15]:
for i in x:
    print(i)

0
1
2
3

In [16]:
print(list(x))

[0, 1, 2, 3]

In [17]:
friends = ["Joseph", "Glenn", "Sally"]

print(len(friends))
print(range(len(friends)))
print(list(range(len(friends))))

3
range(0, 3)
[0, 1, 2]

### A Tale of Two Loops

In [18]:
friends = ["Joseph", "Glenn", "Sally"]

for friend in friends:
    print("Happy New Year:", friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [19]:
print(len(friends))
print(range(len(friends)))

3
range(0, 3)

In [20]:
for i in range(len(friends)):
    friend = friends[i]
    print("Happy New Year:", friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

# Manipulating Lists

## 1. Concatenating Lists Using +

### +

In [21]:
a = [1, 2, 3]
b = [4, 5, 6]

c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

## 2. Lists can be Sliced Using :

### :

- starts from, and up to but not including

In [22]:
t = [9, 41, 12, 3, 74, 15]

t[1:3]

[41, 12]

In [23]:
t[:4]

[9, 41, 12, 3]

In [24]:
t[3:]

[3, 74, 15]

In [25]:
t[:]

[9, 41, 12, 3, 74, 15]

## 3. List Methods

### list( )

In [26]:
x = list()
x

[]

In [27]:
type(x)

# dir(x)

list

### list.append( )

- has an order from left to right

In [28]:
x.append("book")
x.append(99)

print(x)

x.append("cookie")

print(x)

['book', 99]
['book', 99, 'cookie']

### list.remove()

## 4. Is Something in a List?

### in

In [29]:
some = [1, 9, 21, 10, 16]

9 in some

True

In [30]:
15 in some

False

### not in

In [31]:
20 not in some

True

## 5. Lists are in Order

### x.sort( )

In [32]:
friends = ["Joseph", "Glenn", "Sally"]

print(friends)

friends.sort()

print(friends)

['Joseph', 'Glenn', 'Sally']
['Glenn', 'Joseph', 'Sally']

## 6. Built-in Functions and Lists

In [33]:
nums = [3, 41, 12, 9, 74, 15]

print(len(nums))

6

### max( )

In [34]:
print(max(nums))

74

### min( )

In [35]:
print(min(nums))

3

### sum( )

In [36]:
print(sum(nums))

154

### Average

In [37]:
print(sum(nums)/len(nums))

25.666666666666668

# 8.3 Lists and Strings

## 1. Best Friends: Strings and Lists

### x.split( )

In [38]:
abc = "With three words"
stuff = abc.split()

print(stuff)

['With', 'three', 'words']

In [39]:
print(len(abc))
print(len(stuff))

16
3

In [40]:
print(stuff[0])

With

- **x.split()** treats multiple spaces as a single space

In [41]:
line = "A Lot           of spaces"
etc = line.split()

print(etc)

['A', 'Lot', 'of', 'spaces']

- default for **x.split()** is an empty space " ", but you can specify the parameter

In [42]:
line = "first;second;third"
thing = line.split()

print(thing)

['first;second;third']

In [43]:
line = "first;second;third"
thing = line.split(";")

print(thing)

['first', 'second', 'third']

- Application

In [44]:
fhand = open("mbox.rtf")

for line in fhand:
    line = line.rstrip()
    
    if not line.startswith("From "):
        continue
        
    words = line.split()
    print(words[2])

Sat
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Thu
Thu
Thu
Thu
Thu
Thu

## 2. The Double Split Pattern

In [45]:
line = "From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008"

words = line.split()
email = words[1]

print(email)

stephen.marquard@uct.ac.za

In [46]:
pieces = email.split("@")

print(pieces)

['stephen.marquard', 'uct.ac.za']

# Quiz 8

#### 1. How are "collection" variables different from normal variables?

(Answer): 4

1. Collection variables pull multiple network documents together
2. Collection variables can only store a single value
3. Collection variables merge streams of output into a single stream
4. Collection variables can store multiple values in a single variable


#### 2. What are the Python keywords used to construct a loop to iterate through a list?

(Answer): 1

1. for / in
2. def / return
3. foreach / in
4. try / except

#### 3. For the following list, how would you print out 'Sally'?

In [47]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]

print(friends[2])

Sally

(Answer): 3

1. print(friends[2:1])
2. print friends[3]
3. print(friends[2])
4. print(friends['Sally'])

#### 4. What would the following Python code print out?

In [48]:
fruit = 'Banana'
fruit[0] = 'b'

print(fruit)

TypeError: 'str' object does not support item assignment

(Answer): 1

1. Nothing would print - the program fails with a traceback error
2. [0]
3. b 
4. banana 
5. B
6. Banana

#### 5. Which of the following Python statements would print out the length of a list stored in the variable data?

(Answer): 6

1. print(data.length)
2. print(data.Len)
3. print(length(data))
4. print(strlen(data))
5. print(data.length())
6. print(len(data))

#### 6. What type of data is produced when you call the range() function?

In [49]:
x = list(range(5))
x

[0, 1, 2, 3, 4]

(Answer): 4

1. A list of characters
2. A string
3. A list of words
4. A list of integers
5. A boolean (true/false) value

#### 7. What does the following Python code print out?

In [50]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b

print(len(c))

6

(Answer): 6

1. 21
2. [1, 2, 3, 4, 5, 6]
3. [1, 2, 3]
4. [4, 5, 6]
5. 15
6. 6

#### 8. Which of the following slicing operations will produce the list [12, 3]?

In [51]:
t = [9, 41, 12, 3, 74, 15]

t[2:4]

[12, 3]

(Answer): 2

1. t[1:3]
2. t[2:4]
3. t[:]
4. t[12:3]
5. t[2:2]

#### 9. What list method adds a new item to the end of an existing list?

(Answer): 4

1. push()
2. add()
3. pop()
4. append()
5. forward()
6. index()

#### 10. What will the following Python code print out?

In [52]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
friends.sort()

print(friends[0])

Glenn

(Answer): 4

1. Sally
2. friends
3. Joseph
4. Glenn

# Assignment 8

1. Open the file **romeo.rtf** and read it line by line. For each line, split the line into a list of words using the **split()** method. The program should build a list of words. For each word on each line check to see if the word is already in the list and if not append it to the list. When the program completes, sort and print the resulting words in alphabetical order.

You can download the sample data at http://www.py4e.com/code3/romeo.txt

In [53]:
fname = input("Enter file name: ")
fhandle = open(fname)

lst = list()
count = 0

for i in fhandle:
    
    # skipping unnecessary outputs
    if count < 9:
        count = count + 1
        continue
    
    # stripping \n values at the end
    x = i.rstrip()
    # splitting each line as a list of each word
    y = x.split()
    
    count = count + 1
    
    # append the word to the list
    for j in y:
                
        if j in lst:
            continue
            
        elif j.endswith("\\"):
            z = j.rstrip("\\")
            lst.append(z)
            continue
            
        elif j.endswith("}"):
            z = j.rstrip("}")
            lst.append(z)
            continue
        
        else:
            lst.append(j)
        
lst.sort()

print(lst)

Enter file name: romeo.rtf
['Arise', 'But', 'It', 'Juliet', 'Who', 'already', 'and', 'breaks', 'east', 'envious', 'fair', 'grief', 'is', 'kill', 'light', 'moon', 'pale', 'sick', 'soft', 'sun', 'the', 'through', 'what', 'window', 'with', 'yonder']

2. Open the file **mbox.rtf** and read it line by line. When you find a line that starts with 'From ' like the following line:

From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008

You will parse the From line using split() and print out the second word in the line (i.e. the entire address of the person who sent the message). Then print out a count at the end.

**Hint:** make sure not to include the lines that start with 'From:'. Also look at the last line of the sample output to see how to print the count.

You can download the sample data at http://www.py4e.com/code3/mbox-short.txt

In [54]:
fname = input("Enter file name: ")
fhandle = open(fname)

count = 0

for line in fhandle:
    
    if line.startswith("From "):
        x = line.split()
        
        print(x[1])
        count = count + 1
        
print("There were", count, "lines in the file with From as the first word")

Enter file name: mbox.rtf
stephen.marquard@uct.ac.za
louis@media.berkeley.edu
zqian@umich.edu
rjlowe@iupui.edu
zqian@umich.edu
rjlowe@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
gsilver@umich.edu
gsilver@umich.edu
zqian@umich.edu
gsilver@umich.edu
wagnermr@iupui.edu
zqian@umich.edu
antranig@caret.cam.ac.uk
gopal.ramasammycook@gmail.com
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
stephen.marquard@uct.ac.za
louis@media.berkeley.edu
louis@media.berkeley.edu
ray@media.berkeley.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
There were 27 lines in the file with From as the first word