### Chapter 15_1 - Basic Structured Query Language

# Table of Contents

15.1 Relational Databases

15.2 Using Databases

15.3 Single Table CRUD

Quiz 15 - 1
Quiz 15 - 2

Assignment 15


# 15.1 Relational Databases

## 1. Terminology

- Database - contains many tables
- Relation (or table) - contains tuples and attributes
- Tupe (or row) - a set of fields that generally represents an "object" like a person or a music track
- Attribute (also column or field) - one of possibily many elements of data corresponding to the object represented by the row

# 15.2 Using Databases

## 1. Two Roles in Large Projects

- **Application Developer**
  - builds the logic for the application, the look and feel of the application
  - monitors the application for problems

- **Database Administrator**
  - Monitors and adjusts the database as the program runs in production

## 2. Database Schema/Model

- **structure or format of a database**, described in a formal language supported by the database management system
- In other words, a "database model" is the application of a data model when used in conjunction with a database management system

# 15.3 Single Table CRUD

Create, Retrieve, Update, Delete

## 1. SQL Create Table

In [9]:
import sqlite3

conn = sqlite3.connect('emaildb.sqlite')
cur = conn.cursor()

cur.execute('''CREATE TABLE Users(
                                    name  VARCHAR(128)
                                  , email VARCHAR(128)
                                 )
        ''')

## 2. SQL Insert

- The Insert statement inserts a row into a table

In [10]:
cur.execute('''INSERT INTO Users (name,      email) 
               VALUES            ('Kristin', 'kf@umich.edu')
        ''')

## 3. SQL Delete

In [11]:
cur.execute('''DELETE FROM Users 
               WHERE       email = 'fred@ucmich.edu'
        ''')

## 4. SQL Update

In [12]:
cur.execute('''UPDATE Users SET name = 'Charles' 
               WHERE            email = 'csev@umich.edu'
        ''')

## 5. SQL Select

In [14]:
cur.execute('''SELECT * 
               FROM   Users
        ''')

In [15]:
cur.execute('''SELECT * 
               FROM   Users 
               WHERE  email = 'csev@umich.edu'
        ''')

## 6. SQL Order By

In [16]:
cur.execute('''SELECT   * 
               FROM     Users 
               ORDER BY email
        ''')

In [17]:
cur.execute('''SELECT   * 
               FROM     Users 
               ORDER BY name
        ''')

## 7. Counting Email in a Database

In [5]:
import sqlite3

conn = sqlite3.connect('emaildb.sqlite')
cur = conn.cursor()

cur.execute('''DROP TABLE IF EXISTS Counts''')
cur.execute('''CREATE TABLE Counts (email TEXT, count INTEGER)''')

fname = input('Enter file name: ')   # mbox-short.rtf

if (len(fname) < 1) :
    fname = 'mbox-short.rtf'

fh = open(fname)

for line in fh :
    
    if not line.startswith('From: ') :
        continue
    
    pieces = line.split()
    email  = pieces[1]
    
    cur.execute('''SELECT count
                   FROM   Counts
                   WHERE  email = ?
            ''', (email, ))          # a tuple
    
    row = cur.fetchone()
    
    if row is None :
        cur.execute('''INSERT INTO Counts (email, count)
                       VALUES             (    ?,     1)
                ''', (email, ))
    
    else :
        cur.execute('''UPDATE Counts SET count = count + 1
                       WHERE email = ?
                ''', (email, ))
    
    conn.commit()
    
# https://www.sqlite.org/lang_select.html
sqlstr = '''SELECT   email, count
            FROM     Counts
            ORDER BY count
            DESC     LIMIT 10'''

for row in cur.execute(sqlstr) :
    print(str(row[0]), row[1])
    
cur.close()

Enter file name:
cwen@iupui.edu\ 5
zqian@umich.edu\ 4
david.horwitz@uct.ac.za\ 4
louis@media.berkeley.edu\ 3
gsilver@umich.edu\ 3
stephen.marquard@uct.ac.za\ 2
rjlowe@iupui.edu\ 2
wagnermr@iupui.edu\ 1
antranig@caret.cam.ac.uk\ 1
gopal.ramasammycook@gmail.com\ 1

# Quiz 15

**Instructions**

If you don't already have it, install the SQLite Browser from http://sqlitebrowser.org/.

Then, create a SQLITE database or use an existing database and create a table in the database called "Ages":

In [7]:
# CREATE TABLE Ages ( 
#   name VARCHAR(128), 
#   age INTEGER
# )

Then make sure the table is empty by deleting any rows that you previously inserted, and insert these rows and only these rows with the following commands:

In [8]:
# DELETE FROM Ages;
# INSERT INTO Ages (name, age) VALUES ('Tymon', 36);
# INSERT INTO Ages (name, age) VALUES ('Veronika', 33);
# INSERT INTO Ages (name, age) VALUES ('Kayci', 36);
# INSERT INTO Ages (name, age) VALUES ('Walid', 36);
# INSERT INTO Ages (name, age) VALUES ('Oluwatobiloba', 33);
# INSERT INTO Ages (name, age) VALUES ('Malik', 18);

Once the inserts are done, run the following SQL command:

In [9]:
# SELECT hex(name || age) AS X FROM Ages ORDER BY X

Find the **first** row in the resulting record set and enter the long string that looks like **53656C696E613333.**

**Note:** This assignment must be done using SQLite - in particular, the SELECT query above will not work in any other database. So you cannot use MySQL or Oracle for this assignment.

In [1]:
import sqlite3

conn = sqlite3.connect('emaildb.sqlite')
cur = conn.cursor()

cur.execute('''DROP TABLE IF EXISTS Ages''')

cur.execute('''CREATE TABLE Ages (
                                   name VARCHR(128)
                                 , age  INTEGER
                                 )
        ''')

cur.execute('''DELETE FROM Ages''')
cur.execute('''INSERT INTO Ages (name, age) VALUES ('Tymon', 36)''')
cur.execute('''INSERT INTO Ages (name, age) VALUES ('Veronika', 33)''')
cur.execute('''INSERT INTO Ages (name, age) VALUES ('Kayci', 36)''')
cur.execute('''INSERT INTO Ages (name, age) VALUES ('Walid', 36)''')
cur.execute('''INSERT INTO Ages (name, age) VALUES ('Oluwatobiloba', 33)''')
cur.execute('''INSERT INTO Ages (name, age) VALUES ('Malik', 18)''')

cur.execute('''SELECT   hex(name || age) AS X
               FROM     Ages
               ORDER BY X
        ''')

cur.commit()
cur.close()

# Quiz 15 - 2

To get credit for this assignment, perform the instructions below and upload your SQLite3 database here:

(Must have a .sqlite suffix)

Hint: The top organizational count is 536.

You do not need to export or convert the database - simply upload the **.sqlite** file that your program creates. See the example code for the use of the **connect()** statement.

### Counting Organizations

This application will read the mailbox data **(mbox.txt)** and count the number of email messages per organization (i.e. domain name of the email address) using a database with the following schema to maintain the counts.

CREATE TABLE Counts (org TEXT, count INTEGER)

When you have run the program on **mbox.txt** upload the resulting database file above for grading.

If you run the program multiple times in testing or with dfferent files, make sure to empty out the data before each run.

You can use this code as a starting point for your application: http://www.py4e.com/code3/emaildb.py.

The data file for this application is the same as in previous assignments: http://www.py4e.com/code3/mbox.txt.

Because the sample code is using an **UPDATE** statement and committing the results to the database as each record is read in the loop, it might take as long as a few minutes to process all the data. The commit insists on completely writing all the data to disk every time it is called.

The program can be speeded up greatly by moving the commit operation outside of the loop. In any database program, there is a balance between the number of operations you execute between commits and the importance of not losing the results of operations that have not yet been committed.

In [6]:
import sqlite3

conn = sqlite3.connect('emaildb.sqlite')
cur = conn.cursor()

cur.execute('''DROP TABLE IF EXISTS Counts''')

cur.execute('''CREATE TABLE Counts (org TEXT, count INTEGER)''')

fname = input('Enter file name: ')

if (len(fname) < 1) : fname = 'mbox.txt'
    
fh = open(fname)

for line in fh :
    
    if not line.startswith('From: ') : 
        continue
        
    pieces = line.split()[1]
    org = pieces.split('@')[1]
    
    cur.execute('SELECT count FROM Counts WHERE org = ? ', (org, ))
    row = cur.fetchone()
    
    if row is None :
        cur.execute('''INSERT INTO Counts (org, count) 
                       VALUES             (  ?,     1)
                    ''', ( org,))
    else : 
        cur.execute('UPDATE Counts SET count = count + 1 
                    WHERE org = ?', 
                    (org, ))

    conn.commit()

# https://www.sqlite.org/lang_select.html
sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr) :
    print(str(row[0]), row[1])

cur.close()

Enter file name:
536

Enter file name:
zqian@umich.edu\ 195
mmmay@indiana.edu\ 161
cwen@iupui.edu\ 158
chmaurer@iupui.edu\ 111
aaronz@vt.edu\ 110
ian@caret.cam.ac.uk\ 96
jimeng@umich.edu\ 93
rjlowe@iupui.edu\ 90
dlhaines@umich.edu\ 84
david.horwitz@uct.ac.za\ 67