### Chapter 2 - Variables and Expressions

# Table of Contents

2.1 Expressions
- 1. Constants
- 2. Reserved Words
- 3. Variables
- 4. Sentences or Lines
- 5. Assignment Statements
- 6. Numeric Expressions
- 7. Order of Evaluation
- 8. Type
- 9. User Input

Quiz 2

Assignment 2

# 2.1 Expressions

## 1. Constants

"Fixed values" such as Numbers, Letters and Strings are called "constants," because their values does not change.

### Numeric Constants

In [1]:
print(123)
print(98.6)

123
98.6

### String Constants

In [2]:
print("Hello World")
print('Hello World')

Hello World
Hello World

## 2. Reserved Words

Cannot be used as variable names/identifiers

    False  class  return  is      finally
    None   if     for     lambda  continue
    True   def    from    while   nonlocal
    and    del    global  not     with
    as     elif   try     or      yield
    assert else   import  pass
    break  except in      raise

## 3. Variables

* Is a named place in the memory where a programmer can store data and later
  retrieve the data using the Variable "name"
* Programmers get to choose the names of the Variables
* You can change the contents of a Variable in a later statement

In [3]:
x = 12.2
y = 14

x = 100

### Variable Name Rules

* Must start with a letter or underscore _
* Must consist of letters, numbers and underscore
* Case sensitive:

    **Good:**
    
    Spam,    eggs,   spam23,   _speed
    
    **Bad:**
    
    23spam,  #sign,  var.12
    
    **Different:**
    
    spam,    Spam,   SPAM

## 4. Sentences or Lines

In [4]:
x = 2      # Assignment statement
x = x + 2  # Assignment with Expression
print(x)   # Print Statement

4

## 5. Assignment Statements

We assign a value to a variable using the assignment statement(=)

An assignment statement consists of an "expression on the right-hand side" and a Variable to store the result

## 6. Numeric Expressions

"+" Addition  
"-" Subtraction  
"*" Multiplication  
/ Division  
** Power  
% Remainder

In [5]:
xx = 2
xx = xx + 2
print(xx)

4

In [6]:
yy = 440 * 12
print(yy)

5280

In [7]:
zz = yy / 1000
print(zz)

5.28

In [8]:
jj = 23
kk = jj % 5
print(kk)

3

In [9]:
print(4 ** 3)

64

## 7. Order of Evaluation

Highest

* Parenthesis ()
* Power **
* Multiplication *, Division / and Remainder %
* Addition + and Subtraction -
* Left to Right  

Lowest

In [10]:
x = 1 + 2 ** 3 / 4 * 5

# 2 ** 3 -> 8
# 8 / 4  -> 2
# 2 * 5  -> 10
# 1 + 10 -> 11

print(x)

11.0

## 8. Type

- Variables, Literals and Constants have a "*type*" in python.
- Python knows the *difference* between an integer number and a string
- For example, "+" means "addition" if something is a number 
    and "concatenate" if something is a string

In [11]:
ddd = 1 + 4  # addition
print(ddd)

5

In [12]:
eee = "hello " + "there"  # concatenate
print(eee)

hello there

**Type matters.
Python knows what "*type*" everything is**

In [13]:
eee = "hello " + "there"
eee = eee + 1

TypeError: can only concatenate str (not "int") to str

**You can use *type()* function to ask Python what type something is**

In [14]:
type(eee)

str

In [15]:
type("hello")

str

In [16]:
type(1)

int

### Several Types of Numbers

- Numbers have two main types

  - **Integers** are whole numbers:  
      -14, -2, 0, 1, 100, 401233
  - **Floating Point Numbers** have decimal parts:  
      -2.5, 0.0, 98.6, 14.0

- There are other number types - they are variations on float and integer

In [17]:
xx = 1
type(xx)

int

In [18]:
temp = 98.7
type(temp)

float

In [19]:
type(1)

int

In [20]:
type(1.0)

float

### Type Conversions

- When you put an integer and floating point in an expression, the integer is *implicitly* converted to a float
- You can control this with the built-in functions **int()** and **float()**

In [21]:
print(float(99) + 100)

199.0

In [22]:
i = 42
type(i)

int

In [23]:
f = float(i)
type(f)

float

### Integer Division

- Integer division produces a floating point result

In [24]:
print(10 / 2)

5.0

In [25]:
print(9 / 2)

4.5

In [26]:
print(99 / 100)

0.99

In [27]:
print(10.0 / 2.0)

5.0

In [28]:
print(99.0 / 100.0)

0.99

### String Conversinos

- You can also use **int()** and **float()** to convert between strings and integers
- You will get an **error** if the string does not contain numeric characters

In [29]:
sval = "123"
type(sval)

str

In [30]:
print(sval + 1)

TypeError: can only concatenate str (not "int") to str

In [31]:
ival = int(sval)
type(ival)

int

In [32]:
print(ival + 1)

124

In [33]:
nsv = "hello bob"
niv = int(nsv)

ValueError: invalid literal for int() with base 10: 'hello bob'

## 9. User Input

- We can instruct Python to pause and read data from the user using the **input()** function
- The **input()** function returns a string

In [34]:
nam = input("Who are you? ")
print("Welcome", nam)  # comma causes a space

Who are you? Tim
Welcome Tim

### Comments


- Anything after a "*#*" is ignored by Python

### Converting User Input

- If we want to read a number from the user, we must convert it from a *string* to a *number* using a *type conversion function*.

In [35]:
# Convert elevator floors
inp = input("Europe floor? ")
usf = int(inp) + 1
print("US floor", usf)

Europe floor? 0
US floor 1

# Quiz 2

#### 1. Which of the following is a comment in Python?
(Answer): 2 

1. /* This is a test*/
2. #This is a test
3. *This is a test
4. // This is a test

#### 2. What does the following code print out?

In [36]:
print("123" + "abc")

123abc

(Answer): 3

1. hello word
2. This is a syntax error because you cannot add strings
3. 123abc
4. 123+abc

#### 3. Which of the following is a bad Python variable name?
(Answer): 1
1. 23spam
2. Spam
3. _spam
4. SPAM23

#### 4. Which of the following is not a Python reserved word?
(Answer): 1
1. iterate
2. continue
3. else 
4. break

#### 5. Assume the variable *x* has been initialized to an integer value (e.g., x = 3). What does the following statement do?

In [37]:
x = 3

x = x + 2
x

5

(Answer): 1
1. Retrieve the current value for *x*, add two to it, and put the sum back into "x"
2. Increase the speed of the program by a factor of 2
3. Exit the program
4. This would fail as it is a syntax error

#### 6. Which of the following elements of a mathematical expression in Python is evaluated first?

(Answer): 3

1. Subtraction -
2. Addition +
3. Parentheses ()
4. Multiplication *

#### 7. What is the value of the following expression?

In [38]:
42 % 10

2

(Answer): 4
1. 0.42
2. 10
3. 4210
4. 2

#### 8. What will be the value of *x* after the folloiwng statement executes:

In [39]:
x = 1 + 2 * 3 - 8 / 4
x

5.0

(Answer): 3

1. 1.0
2. 3
3. 5.0
4. 2

#### 9. What will be the value of *x* when the following statement is executed:

In [40]:
x = int(98.6)
x

98

(Answer): 1
1. 98
2. 6
3. 100
4. 99

#### 10. What does the Python "*input()*" function do?

(Answer): 1

1. Puase the program and read data from the user
2. Connect to the network and retrieve a web page
3. Read the memory of the running program
4. Take a screen shot from an area of the screen

# Assignment 2

1. Write a program that uses **input** to prompt a user for their name and then welcomes them. Note that **input** will pop up a dialog box. Enter **Sarah** in the pop-up box when you are prompted so your output will match the desired output.

In [41]:
# The code below almost works

name = input("Enter your name")
print("Hello", name)

Enter your nameSarah
Hello Sarah

2. Write a program to prompt the user for hours and rate per hour using input to compute gross pay. Use 35 hours and a rate of 2.75 per hour to test the program (the pay should be 96.25). You should use **input()** to read a string and **float()** to convert the string to a number. Do not worry about error checking or bad user data.

In [42]:
# This first line is provided for you

hrs = input("Enter Hours: ")
rph = input("Enter Rate per Hour:")

pay = float(hrs) * float(rph)

print("Pay:", pay)

Enter Hours: 35
Enter Rate per Hour:2.75
Pay: 96.25